{% extends "dashboard.twig" %}

{% block dashboard_content %}
        {% autoescape false %}
           {{message}}
        {% endautoescape %}
    </div>
    <form class="general" action="#" method="post" class="tenantEntry">
        {# <div class="formtype" style="display: none;">
            <input type="text" name ="formtype" value="{{formtype}}">
       </div> #}
        <label name="suiteNumber">Suite Number</label>
        <select class="suite_class" name="suiteNumber">
            {% for suite in suites %}
            <option value="{{suite["suiteNumber"]}}" {% if suite["suiteNumber"] == suite %} selected {% endif %}>{{suite["suiteNumber"]}}</option>            
            {% endfor %}
        </select><br>
        <label name="name">Name</label><input type="text" class="{{name_class}}" value="{{name}}" name="name" id="name"><br>
        <label name="phone">Phone Number</label><input type="tel" class="{{phone_class}}" value="{{phone}}" name="phone" id="phone"><br>
        <label for="email">E-mail</label><input type="email" class="{{email_class}}" name="email" id="email"><br>
        <label name="birthdate">Birthdate</label><input type="date" class="{{birthdate_class}}" value="{{birthdate}}" name="birthdate" id="birthdate"><br>
        <label name="numberOfBikes">Number of Bikes</label><input type="number" class="{{numberOfBikes_class}}" value="{{numberOfBikes}}" name="numberOfBikes" id="numberOfBikes"><br>
        <label name="storageLockerNumber">storageLockerNumber</label><input type="number" class="{{storageLockerNumber_class}}" value="{{storageLockerNumber}}" name="storageLockerNumber" id="storageLockerNumber"><br>
        <input type="submit" value="Submit">
    </form>
{% endblock dashboard_content %}
