{% extends 'contractor-dashboard.twig' %}

{% block dashboard_content %}
<h1>{{ heading }}</h1>
<br>
<form class="general" action="#" method="GET">

    {% for option in options  %}
      <label class="m-2" name="{{ option }}"> {{ option }} : </label>
      <input  class="m-2" type="text" name="{{ option }}" id="{{option}}">
 
    {% endfor %}

        <input  class="m-2" type="submit" value="Search">

</form>
{% include "table-base.twig" %}
{% endblock dashboard_content %}
