{% extends 'base.twig' %}

{% block main %}
<h1>{{ heading }}</h1>
<form class="general" action="" method="GET">

    {% for option in options  %}
      <label name="{{ option }}">{{ option }}</label>
        <select class="_class" name="{{ option }}">
            {% for rest in inner_options %}
            <option value="{{ rest[loop.index0] }}"> {{ rest[loop.index0] }} </option>            
            {% endfor %}
        </select><br>
    {% endfor %}

        <input type="submit" value="Submit">

</form>
{% include "table-base.twig" %}
{% endblock main %}