{% extends 'base.twig' %}

{% block main %}
<h1>{{ heading }}</h1>
<form class="col-md-6" action="#" method="GET">

    {% for option in options  %}
      <label  class="m-2"  name="{{ option }}"> {{ option }} : </label>
      {# <input name="{{ option }}"> #}
        <select class="m-2"  name="{{ option }}">
            {% for rest in inner_options %}
            <option value={{ rest }}> {{ rest }} </option>            
            {% endfor %}
        </select>
    {% endfor %}

        <input type="submit" class="button m-2" value="Search">

</form>
{% include "table-base.twig" %}
{% endblock main %}