{% extends 'base.twig' %}

{% block main %}
<h1>{{ heading }}</h1>
<form class="general" action="" method="GET">

    {% for option in options  %}
      <label name="{{ option }}">{{ option }}</label>
        <select class="_class" name="{{ option }}">
            {% for rest in inner_options %}
            <option value="{{ rest[loop.index0] }}"> {{ rest[loop.index0] }} </option>            
            {% endfor %}
        </select><br>
    {% endfor %}

        <input type="submit" value="Submit">

</form>
<div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead>
        </thead>
        <tbody>
            <tr>{% for key in keys %}
                {% autoescape false %}
                 <th>{{ key }}</th>
                {% endautoescape %}
                {% endfor %}
            </tr>
            
            {%for rest in table %}
            <tr>
                {% for key in keys%}
                {% autoescape false %}
                   <td>{{ rest[key] }}</td>
                   {% endautoescape %}
                {% endfor %}
            </tr>            
            {% endfor %}
        </tbody>

    <table>
    </div>
{% endblock main %}